---
---

@import "{{ site.theme }}";

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*
@keyframes bounce-in {
    0% {
        padding-top: 0px;
        padding-bottom: 0px;
        opacity: 0;
    }

    50% {
        padding-bottom: random(20) + px;
        padding-top: random(15) + px;
        opacity: 1;
    }

    100% {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
*/

@keyframes fall {
    from {
        opacity: 0;
        margin-top: -25px;
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}

body {
    background-color: rgb(33, 33, 33);
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(70, 176, 102);
    animation: fade-in 0.5s;
}

p, a, li, small {
    animation: fall 0.75s;
}

.post-preview {
    background-color:rgb(22, 22, 22);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.posts-container {
    padding: 15px;
}
